@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */
body {
/*  background:#eee;*/
  background: url("../images/page-background.png") repeat-x scroll center 0 #eee;
  color:#222222;
  font:12px Arial, Helvetica, sans-serif;
  position:relative;
}


/* ** ** Common Addative Classes ** ** */
.left, .float_left  { float:left	}
.right, .float_right { float:right	}
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}
.clear-left, .clear_left { clear:left; } .clear-right, .clear_right { clear:right; }
.hide  { display:none	} .block {display:block !important;} .inline {display:inline !important;}

.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.bold {font-weight:600;}
.italic {font-style:italic;}

a {	color:#525252;	}
a:hover, a:focus { text-decoration:underline;}
a:active, a:visited { }

blockquote {
		font-family: Georgia,"Times New Roman", Times, serif; 
		margin:5px; 
		padding:10px;
		font-size:1.52em; 
		color:#0F800C; 
		font-style:italic; 
		line-height:1.3em; 
		width:100%; 
		quotes:none;
	}
	blockquote.left {border-right:1px dashed #0F800C; width:35%;} /* float blockquote left, and set width */
	blockquote.right {border-left:1px dashed #0F800C; width:35%;} /* float blockquote right and set a width */

/* ** ** Header Styles ** ** */
h1, h2, h3, h4, h5 {margin:0 0 0.5em; line-height:1.1em;}
h1 {	font-size:2.52em;} 
h2 {	font-size:1.352em;} 
h3 {	font-size:1.652em;} 
h4 {	font-size:1.452em;} 
h5 {	font-size:1.252em;} 
h6 {	font-size:1.52em;}

/* ** ** ul li's ** ** */
ul{
  list-style:outside disc;
}
ul,ol{
  margin:0 0 1.5em 1.5em;
  padding:0;
}
li ul,li ol{
  padding:0;
  margin:0 0 1.5em 1.5em;
}


/* ** ** custom select color ** ** */
::selection {
	background: #525252; /* Safari */
	}
::-moz-selection {
	background: #525252; /* Firefox */
	color:#fff;
}
/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}
	p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
	p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

strong   		{	font-weight:600;}
em, dfn  		{	font-style:italic;}
dfn 	 		{   font-weight:600;}
sup, sub 		{   line-height:0;}
abbr, acronym   {	border-bottom:1px dashed #ccc;}
address 		{	margin:0 0 1.5em;font-style:italic;}
del 			{	color:#666;}
pre, code, tt   {	font:1em 'andale mono', 'lucida console', monospace;line-height:1.5; display:block;}
code 			{	background-color:#eee; display:inline; padding:0px 2px 1px 2px; line-height:1.1em;}
pre 			{	margin:1.5em 0;white-space:pre;}

/* ** ** footer styling ** ** */
footer {
	text-align:center; 
	color:#666; 
	font-size:0.9em; 
	padding:4px 0px;
	color: #eee;
}
footer a {
	color: #eee;
}
footer #bottom {
	background: url("../images/footer_wave.gif") repeat-x scroll center 0 #eee;
	margin-top: 60px;
	background-color: #727272;
}
footer #bottom p {
	padding-top: 100px;
	text-align: left;
	padding-left: 5px;
	color: #eee;
}

/* ** ** widget bar ** ** */
.widget-button {
	position:fixed;
	z-index:99;
	left:0px;
	display:block;
	width:24px;
	border-right: 1px solid #666;  
	background-color: #FCFAFD;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}
.widget-button-hint {
	position:fixed;
	z-index:-5;
	left:24px;
	display:block;
	width:114px;
}

#widget-button-add {
	top:100px;
	border-top: 1px solid #888;
}
#widget-button-add-hint {
	top:71px;
	left: 20px;
}
#widget-button-cloud {
	top:123px;
}
#widget-button-cloud-hint {
	top:120px;
	left: 30px;
}
#widget-button-ideacentre {
	top:146px;
	border-bottom: 1px solid #888; 
}
#widget-button-ideacentre-hint {
	top:175px;
	left: 12px;
}

/* ** ** general styling ** ** */
header {padding-top:25px; border-bottom:1px solid #0F800C; padding-bottom:20px;}
header .logo {font-size:3.52em;}
header nav ul li {float:left; margin-top:12px;}
header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #0F800C; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
header nav ul li a:hover {background-color:#ccc; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #ccc; color: #0F800C; }
header nav ul li.last a {border-right:none;}

#css3 div > div {margin:0px 0px 50px 0px; padding:6px; border:1px solid #eee;}
#grid div {text-align:center;  }
#grid div > .col {border-bottom:1px solid #ccc; padding:10px 0px; outline:1px solid #eee;}

h2 {border-bottom:1px dashed #0F800C; margin-top:15px;}

.documentation {display:block; background-color:#eee; padding:6px 13px; font-family:Georgia, "Times New Roman", Times, serif; color:#666; text-align:right; text-shadow:-1px -1px 0px #fff;}

/* ** ** error messages ** ** */
noscript p {
	padding-top: 4px;
	padding-bottom: 4px;
	width: 440px;
	margin-left: 40px;
	text-align: center;
}
.error-message {
	background-color:#FFEAC3;
	border: 1px solid #FFA500;
	font-size: 1.0em;
    font-weight: bold;
}

/* ** ** styling of user feedback ** ** */
#userFeedback {
}
.positive {
	margin-left: 35%;
	color: #555555;
	padding-left: 10%;
	padding-right: 10%;
	background-color:#DDFFE2;
	border: 1px solid #666;
	font-size: 1.0em;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}
.selected {
	background-color: #ff9;
}

/* ** ** idea cloud ** ** ** */
.ideaCloud {
	background-color:#eee; 
	padding:5px;
	overflow:auto; 
}
.ideaCloud p {
  	color:#222;
	list-style-type:none;
	float:left; 
	margin:0 10px;
}
.ideaCloud_tag p, li {
	color: #222;
	list-style-type: none;
	padding-top:5px;
}
.ideaCloud p:hover, .ideaCloud_tag li:hover, .ideaCloud_idea p:hover{ 
	text-decoration:underline; 
	background-color: #ccc;
}
.ideaCloud p.one {
  font-size:0.8em; 
}
.ideaCloud p.two {
  font-size:0.9em; 
}
.ideaCloud p.three {
  font-size:1m; 
}
.ideaCloud p.four {
  font-size:1.25em; 
}
.ideaCloud p.five {
  font-size:1.5em; 
}
.ideaCloud_tag, .ideaCloud_idea {
	margin-top:1px;
	visibility:hidden;
}

